/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: ;
    font-family: 'Fredoka One', cursive;
}

:root {
    --title: #E74272;
    --bgbox: #000000;
    --link: #03aaf7;
    --textw: #ffffff;
}
    /* organizzazione dati */
body {
    background-color: var(--textw);

}

.conteiner {
    width: 80%;
    margin: auto;

}

h1 {
    color: var(--title);
    text-align: center;
    padding-top: 2.5rem;
    
}

.description{
    font-size: 1rem;
    font-weight: 100rem;
    padding-top: 2rem;
    text-align: center;
}

.box{
    background-color: var(--bgbox);
    width: 50px;
    height: 70px;
    color: var(--textw);
    
}