/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}

:root {
    --title: #E74272;
    --bgbox: #000000;
    --link: #03aaf7;
    --textw: #ffffff;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* organizzazione dati */
body {
    background-color: var(--textw);

}

.conteiner {
    width: 80%;
    margin: auto;

}

h1 {
    color: var(--title);
    text-align: center;
    padding-top: 2.5rem;

}

.description {
    font-size: 1rem;
    font-weight: 100rem;
    padding-top: 2rem;
    text-align: center;
    font-style: italic;
    
}

.worker{
    padding-left: 2rem;
    padding-top: 2rem;
}

.information {
    color: var(--textw);

}

.box{
    background-color: var(--bgbox);
    text-align: left;
    vertical-align: center;
    width: calc(100% / 3);

}

img { 
    color: var(--textw);
    float: left;
    object-position: left;
    object-fit: contain;
    width: 90px;
 }

.left {
    float: left;
}

